body {
	background-color: #f8f8f8;
}

.header__top {
	list-style-type: none;
}

.header__item-link {
	color: yellow;
	background-color: grey;
	font-style: italic;
}

.header__item-link:hover {
	color: red;
}


.top-heading {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

.top-heading__short {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.top-heading__thorough {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}


.application__item-filling {
	width: 200px;
	height: 35px;
}

.application__item-filling_input {
	color: purple;
	font-weight: bold;
}

#pic {
	border-width: 7px;
	border-color: brown;
	border-style: solid;	
}

#pic:hover {
	border: 7px solid transparent;
}

.header__logo {
	height: 50px;
}



.katalog__images {
	height: 200px;
	width: 200px;
}

.katalog__link {
	font-style: italic;
	color: yellow;
	background: grey;
}
.katalog__link:hover {
	background: blue;
}

.application>.application__item:nth-child(2) .application__item-filling:focus {
	color: yellow;
	background: blue;
}

.application__item-filling:focus {
	text-transform:capitalize;
}

.character {
	border: 3px solid purple;
	border-collapse: collapse;
	text-align: center;
}

.character__rows td {
	border: 3px solid purple;
}
.character__rows th {
	border: 3px solid purple;
}